.allTown {
    padding: 128px 12px 0;

    @include lg {
        padding: 108px 12px 0;
    }

    .nav {
        overflow-x: auto;
    }

    .nav-item {
        .nav-link {
            font-size: 32px;
            // background-color: $gray-300;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px 0px
                /* spread */
                , rgba(0, 0, 0, 0.2) 0 3px 2px 0px
                /* spread */
                inset;

            ;
        }

        .active {
            background-color: $secondary;
            outline: 0;
        }
    }

    .tab-content {
        padding: 24px 0;
        position: relative;
        height: calc(100vh - 228px);

        .tab-pane {
            background-color: $info;
            border-radius: 16px;
            padding: 32px 24px 8px 24px;
            height: 100%;
        }

        .city {
            max-width: 424px;
            width: 100%;
            background-color: $white;
            padding: 24px 40px;
            border-radius: 16px;
            margin-bottom: 24px;
            box-shadow: 3px 3px 3px $gray-500;

            @include lg {
                max-width: 48%;
            }


            @include sm {
                max-width: 100%;
            }

            .name {
                font-size: 32px;
            }

            .state {
                color: $gray-900;
                padding-top: 8px;
            }

            .state,
            .unbrella,
            .wind {
                font-size: 24px;
            }

            .unbrella,
            .wind {
                color: $secondary;
            }

            .unbrella {
                padding-bottom: 7px;
            }

            .unbrellaIcon,
            .windIcon {
                width: 24px;
                height: 24px;
                margin-right: 16px;
            }

            .cityDegrees {
                font-size: 48px;

                @include lg {
                    font-size: 32px;
                }
            }

            .cityWeatherIcon {
                width: auto;
                height: auto;
            }
        }

        .tab-paneOne::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 40px solid;
            border-color: transparent transparent $info transparent;
            top: -40px;
            left: 6%;
        }

        .tab-paneTwo::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 40px solid;
            border-color: transparent transparent $info transparent;
            top: -40px;
            left: 25%;
            transform: translateX(25%);
        }

        .tab-paneThree::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 40px solid;
            border-color: transparent transparent $info transparent;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
        }

        .tab-paneFour::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 40px solid;
            border-color: transparent transparent $info transparent;
            top: -40px;
            right: 25%;
            transform: translateX(-25%);
        }

        .tab-paneFive::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 40px solid;
            border-color: transparent transparent $info transparent;
            top: -40px;
            right: 6%;
        }
    }

}