.county {
    padding: 128px 12px 0;

    @include md {
        padding: 108px 12px 0;
    }

    @include sm {
        padding: 88px 12px 0;
    }

    .countyIcon,
    .return {
        width: 48px;
        height: 48px;
    }

    h2 {
        font-size: 36px;

        @include md {
            font-size: 24px;
        }
    }

    .nav {
        overflow-x: auto;
    }

    .nav-item {
        max-width: 208px;
        width: 100%;

        @include xl {
            margin-right: 24px;
        }

        .nav-link {
            padding: 8px 0 16px;
            border-radius: 16px;
            border: 1px solid $gray-300;
            background: linear-gradient(42deg, $white, $white, $white, $white, $secondary);
            box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px 0px
                /* spread */
                , rgba(0, 0, 0, 0.2) 0 0px 2px 0px
                /* spread */
                inset;
            padding: 16px 24px;

            &:hover {
                border: 1px solid $gray-900;

            }
        }

        .active {
            background-color: $white;
            border: 1px solid $gray-900;
        }

        .title {
            color: $primary;
            font-size: 32px;
        }

        .date {
            color: $gray-900;
            font-size: 24px;
        }

        .countyWeatherIcon {
            width: 120px;
            aspect-ratio: 1/1;

            &img {
                object-fit: cover;
            }
        }

        .todayDegree {
            color: $gray-700;
            font-size: 24px;
        }
    }

    .tab-content {
        margin-top: 32px;
        height: calc(100vh - 505px);
    }

    .tab-pane {
        background-color: $info;
        height: calc(100vh - 545px);
        padding: 24px 32px 8px 32px;
        border-radius: 16px;

        @include sm {
            padding: 40px 16px;
        }
    }

    .weatherContent {
        width: 196px;
        padding: 24px 24px;
        margin-bottom: 24px;
        background-color: $white;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px 0px
            /* spread */
            , rgba(0, 0, 0, 0.2) 0 0px 2px 0px
            /* spread */
            inset;

        @include sm {
            width: 48%;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }

        span {
            font-size: 24px;
        }

        .title {
            font-size: 32px;
            margin-bottom: 24px;

            @include sm {
                margin-bottom: 8px;
            }

            span {
                font-size: 24px;
                color: $gray-500;
            }
        }

        .text {
            font-size: 48px;

            @include sm {
                font-size: 32px;
            }
        }

        .textmiddle {
            font-size: 32px;
        }

        .fz88 {
            font-size: 88px;
            line-height: 1;

            @include sm {
                font-size: 54px;
                line-height: 1;
            }
        }

        .textSize {
            font-size: 24px;
            color: $gray-700;
        }

        .countyComfort {
            width: 100px;

            @include sm {
                width: 50px;
            }
        }
    }

    .weatherDouble {
        width: 416px;
        padding: 24px 24px;

        @include sm {
            width: 100%;
            padding: 24px;
        }

        .text {
            font-size: 48px;

            @include sm {
                font-size: 32px;
            }
        }


    }

    .weatherCenter {
        text-align: center;
        padding: 24px 0;
    }


}