$gray-900: #6E6E6E;
$gray-700: #B1B1B1;
$gray-500: #CECECE;
$gray-300: #ECECEC;

$primary: #303030;
$secondary: #4092FB;
$info: #c3e0fd;
$warning: #FFD939;
$danger: #EE4E60;

body {
    line-height: 1.5;
}