<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

  <header class="header container-fluid d-flex justify-content-between align-items-center px-4 py-3 bg-white">
    <a href="#" class="menuIcon">
      <img src="./assets/images/menu.svg" alt="menuIcon" class="menu d-none d-lg-block">
      <img src="./assets/images/menu-mobile.svg" alt="menuIcon" class="menu d-block d-lg-none">
    </a>
    <h1 class="WeatherIcon">
      <a href="./index.html" class="logoTag">
        <img src="./assets/images/Weather °.svg" alt="Weather°" class="Weather d-none d-lg-block">
        <img src="./assets/images/Weather°-mobile.svg" alt="Weather°" class="Weather d-block d-lg-none">
      </a>
    </h1>
    <div class="sideMask">
      <div class="sideMenu d-flex flex-column">
        <div class="title d-flex justify-content-between align-items-center">
          <a href="./index.html"><img src="./assets/images/Weather °.svg" alt="Weather°" class="sideMenuLogo"></a>
          <i class="fas fa-times sideMenuIcon"></i>
        </div>
        <a href="./allTown.html" class="sideMenuList">
          各縣市總覽
        </a>
        <div class="sideMenuPlus mt-auto">
          <div class="title d-flex justify-content-between align-items-center mb-3">
            <p class="plus fw-bold">添加</p>
            <img src="./assets/images/signOut.svg" alt="signOut" class="w-auto">
          </div>
          <form class="citySelect d-flex justify-content-between flex-wrap">
            <select name="選擇縣市">
              <option value="1">台北市</option>
              <option value="2">台北市</option>
              <option value="3">台北市</option>
            </select>
            <select name="選擇鄉鎮">
              <option value="1">大安區</option>
              <option value="2">大安區</option>
              <option value="3">大安區</option>
            </select>
            <button class="btn sure w-100">確定</button>
          </form>
          <ul class="memoryCity text-primary">
            <li class="memoryCityList d-flex justify-content-between">台北市‧大安區<span class="fw-bold">25℃</span></li>
            <li class="memoryCityList d-flex justify-content-between">台北市‧大安區<span class="fw-bold">25℃</span></li>
            <li class="memoryCityList d-flex justify-content-between">台北市‧大安區<span class="fw-bold">25℃</span></li>
          </ul>
        </div>
        <div class="sideSignIn mt-auto">
          <a href="#" class="signIn mb-4 d-flex justify-content-between align-items-center">登入
            <img src="./assets/images/signIn.svg" alt="signInPic" class="signInPic">
          </a>

          <dialog id="infoModal" class="text-center py-6 px-8">
            <ul class="nav nav-pills mb-3 d-flex justify-content-around" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active signInTitle" id="pills-signIn-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-signIn" type="button" role="tab" aria-controls="pills-signIn"
                  aria-selected="true">登入</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link signUpTitle" id="pills-signUp-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-signUp" type="button" role="tab" aria-controls="pills-signUp"
                  aria-selected="false">註冊</button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-signIn" role="tabpanel"
                aria-labelledby="pills-signIn-tab">
                <form action="" class="d-flex flex-column text-start">
                  <label for="
                  account" class="
                  account mb-4">帳號：<input type="text" name="" id="
                  account"></label>
                  <label for="
                  password" class="
                  password">密碼：<input type="password" name="" id="
                  password"></label>
                  <button class="mt-5 signInSend py-1">登入</button>
                </form>
              </div>
              <div class="tab-pane fade" id="pills-signUp" role="tabpanel" aria-labelledby="pills-signUp-tab">
                <form action="" class="d-flex flex-column text-start">
                  <label for="
                account" class="
                account mb-4">帳號：<input type="text" name="" id="
                account"></label>
                  <label for="
                password" class="
                password">密碼：<input type="password" name="" id="
                password"></label>
                  <button class="mt-5 signUpSend py-1">註冊</button>
                </form>
              </div>

            </div>
          </dialog>
        </div>
        <div class="copyright fw-bold">
          Copyright © weather ° All Rights Reserved.
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <a href="#" class="locationIcon">
        <img src="./assets/images/location.svg" alt="locationIcon" class="location d-none d-lg-block">
        <img src="./assets/images/location-mobile.svg" alt="locationIcon" class="location d-block d-lg-none">
      </a>
    </div>
  </header>



  <%- contents %>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>